  /* Card styling */
  .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    cursor: pointer;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  /* Card image styling */
  .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    height: 150px;
  }
  
  /* Card text styling */
  .card-title {
    font-size: 1.3rem;
    font-weight: bold;
    color: #333333;
  }
  
  .card-text {
    font-size: 1rem;
    color: #666666;
  }
  
  /* Spacing between grid items */
  .g-4 > .col {
    margin-bottom: 15px;
  }
  
  /* Add a smooth transition effect */
  body {
    transition: background-color 0.3s ease;
    background: url('/image/Rate_background.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  /* Add background hover effect for better interactivity */
  .card:hover .card-title {
    color: #3b6dd8; /* Change title color on hover */
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
  }